body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 120%;


}

.profile{

	font-weight: bold;
}



.skill-row{

	width: 50%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	font-weight: bold;
}

.p_top{

	font-size: 2.50rem;
}

h1{
	padding: 0;
	margin: 0;
	margin-top: 100px;
	font-family: 'Lacquer', sans-serif;
	font-size: 5.65rem;
	color: #66BFBF;
	/*line-height: 2; changes spacing between the top and bottom of this element.*/
}

h2
{

	font-family: 'Montserrat', sans-serif;
	color: #66BFBF;
	padding-bottom: 10px;

}

h3{

	font-family: 'Montserrat', sans-serif;
	color: #11999E;


	


}

/*.p_clear {
	clear: left;
}

.p_clear_rigt{

	clear: right;
}
*/


.skill-row{

	text-align: left;
	line-height: 2;
}


.automation {

	width: 25%;
	float: left;
	margin-right: 30px;
}


.it-estilo {

width: 25%;
	float: right;
	margin-left: 30px;

}

.top-container{

	background-color: #EAF6F6;
	position: relative;
	padding-top: 250px;
	padding-bottom: 0;
	margin-bottom: 0;
	/*border: solid 10px black;
	height: 200px;
	padding: 20px;
	width: 200px;*/
	
}

.middle-container
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.bottom-container
{
	background-color: #66BFBF;
	color: #EAF6F6;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
	
}

.bottom-container p
{
	font-size: 0.75rem;
	padding-top: 50px;
	padding-bottom: 0;
}

.sof
{
	text-decoration: underline;
	font-weight: normal;
}

.bottom-cloud{

	position: absolute;
	left: 300px;
	bottom: 300px;
}

.top-cloud{

	position: absolute;
	right: 300px;
	top: 150px;

}



a{

	text-decoration: none;
	color: #11999E;
	padding-left: 25px;
	font-weight: bold;

}
a:hover{

	
	color: white;
}

.btn{

	background-color: #11999E;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;

	color: white;
	font-weight: bold;
	
	border-color: solid 1px silver;
	border-radius: 15px;

}

.btn:hover{

	background-color: white;
	

	color: #11999E;
	font-weight: bold;
	
	border-color: solid 1px silver;
	border-radius: 15px;

}

.contact-me{

	line-height: 2;
	font-weight: bold;

}

.contact-me a{

	display: inline-block;
	margin-bottom: 100px;
}

hr {
   

   border-style: none;
			border-top: dotted;
			border-width: 8px;
			border-color: #EAF6F6;
			width: 5%;
			padding-top: 25px;
			padding-bottom: 25px;

}

.intro{

	width: 30%;
	margin: auto;
	line-height: 2;

}

P{
	line-height: 2;
}